:root,
.theme-dark {
  --container-max-width: 1536px;

  /* Common */
  --color: #ffffff;
  --bg-color: #000000;
  --primary: #ffffff;
  --link-color: var(--color);
  --no-results-link-color: var(--color);
  --separator-bg-color: var(--gray-100);
  --icon-bg-color: var(--color);
  --edition-single: var(--color);
  --edition-limited: var(--color);
  --edition-open: var(--color);
  --gradient-start: var(--color);
  --gradient-end: var(--color);

  /* Grayscale */
  --gray-50: rgba(255, 255, 255, 0.05);
  --gray-100: rgba(255, 255, 255, 0.1);
  --gray-200: rgba(255, 255, 255, 0.2);
  --gray-300: rgba(255, 255, 255, 0.3);
  --gray-400: rgba(255, 255, 255, 0.4);
  --gray-500: rgba(255, 255, 255, 0.5);
  --gray-600: rgba(255, 255, 255, 0.6);
  --gray-700: rgba(255, 255, 255, 0.7);
  --gray-800: rgba(255, 255, 255, 0.8);
  --gray-900: rgba(255, 255, 255, 0.9);

  /* Header */
  --header-color: theme('colors.gray.500');
  --header-bg-color: #000000;
  --header-height: 72px;

  /* Footer */
  --footer-bg-color: #000000;
  --footer-color: #7c7c7c;
  --footer-color-hover: #ffffff;
  --footer-icon-bg-color: #2e2e2e;
  --footer-icon-color: var(--icon-bg-color);
  --footer-icon-bg-color-hover: #ffffff;
  --footer-icon-color-hover: #000000;
  --footer-icon-border-radius: 50%;

  /* Input */
  --input-container-border-color-focus: var(--color);
  --input-container-border-color: theme('colors.gray.300');
  --input-container-border-color-error: theme('colors.red.500');
  --input-container-border-width: 1px;
  --input-container-padding-bottom: 0.125rem;
  --input-label-color: theme('colors.gray.500');
  --input-label-font-size: 14px;
  --input-label-font-weight: 400;
  --input-color: var(--color);
  --input-text-align: left;
  --input-bg-color: transparent;
  --input-border-radius: 0px;
  --input-placeholder-color: theme('colors.gray.500');
  --input-padding: 0 0.125rem;
  --input-height: 1.875rem;

  /* Checkbox */
  --checkbox-border-color: theme('colors.gray.200');
  --checkbox-checkmark-color: var(--color);

  /* Pagination */
  --pagination-color: #9e9e9e;
  --pagination-color-active: #000000;
  --pagination-background-color-active: #ffffff;

  /* Sort */
  --sort-color: #ffffff;
  --sort-icon-color: #000000;
  --sort-icon-bg-color: #ffffff;

  /* Tabs */
  --tab-border-color: #232323;
  --tab-color: #606060;
  --tab-border-color-active: #ffffff;
  --tab-color-active: #ffffff;

  /* Tooltip */
  --tooltip-bg-color: #ffffff;
  --tooltip-color: #000000;

  /* SkuItem */
  --sku-item-bg-color: var(--bg-color);

  /* Button */
  --button-primary-color: #000000;
  --button-primary-bg-color: var(--primary);
  --button-primary-border-color: var(--primary);
  --button-secondary-color: #000000;
  --button-secondary-bg-color: #ffffff;
  --button-secondary-border-color: var(--primary);
  --button-tertiary-color: #000000;
  --button-tertiary-bg-color: #ffffff;
  --button-tertiary-border-color: #ffffff;

  /* IconRedeem */
  --icon-redeem-border-radius: 50%;

  /* Menu */
  --menu-list-background-color: #ffffff;
  --menu-item-background-selected: #000000;
  --menu-item-color: rgba(0, 0, 0, 0.5);
  --menu-item-color-selected: #ffffff;

  /* Button */
  --button-padding: 8px 24px;
  --button-border-radius: 0;

  /* ButtonGroup */
  --button-group-color: #ffffff;
  --button-group-bg-color: #000000;
  --button-group-color-hover: #000000;
  --button-group-bg-color-hover: #ffffff;

  /* Sku */
  --sku-offscreen-bg-color: rgba(255, 255, 255, 0.95);

  /* WalletBalance */
  --wallet-balance-bg-color: rgba(255, 255, 255, 0.05);
  --wallet-tabs-bg-color: #ffffff;

  /* AccountInfo */
  --account-info-bg-color: rgba(255, 255, 255, 0.05);
}

.theme-light {
  /* Common */
  --bg-color: #ffffff;
  --color: #000000;
  --primary: #000000;
  --link-color: var(--color);
  --separator-bg-color: var(--gray-100);
  --icon-bg-color: #2d2d2d;
  --edition-single: var(--color);
  --edition-limited: var(--color);
  --edition-open: var(--color);
  --gradient-start: var(--color);
  --gradient-end: var(--color);

  /* Grayscale */
  --gray-50: rgba(0, 0, 0, 0.05);
  --gray-100: rgba(0, 0, 0, 0.1);
  --gray-200: rgba(0, 0, 0, 0.2);
  --gray-300: rgba(83, 48, 48, 0.3);
  --gray-400: rgba(0, 0, 0, 0.4);
  --gray-500: rgba(0, 0, 0, 0.5);
  --gray-600: rgba(0, 0, 0, 0.6);
  --gray-700: rgba(0, 0, 0, 0.7);
  --gray-800: rgba(0, 0, 0, 0.8);
  --gray-900: rgba(0, 0, 0, 0.9);

  /* Filters */
  --filters-color-expanded: var(--primary);

  /* Tag */
  --tag-color: #ffffff;
  --tag-bg-color: var(--primary);

  /* Accordion */
  --accordion-title-color: theme('colors.gray.500');
  --accordion-title-icon-color: var(--color);

  /* Footer */
  --footer-bg-color: #ffffff;
  --footer-color: theme('colors.gray.500');
  --footer-color-hover: #000000;
  --footer-icon-bg-color: rgba(0, 0, 0, 0.2);
  --footer-icon-color: rgba(0, 0, 0, 0.5);
  --footer-icon-bg-color-hover: #000000;
  --footer-icon-color-hover: #ffffff;

  /* Input */
  --input-container-border-color-focus: var(--color);
  --input-container-border-color: theme('colors.gray.300');
  --input-container-border-color-error: theme('colors.red.500');
  --input-label-color: theme('colors.gray.500');
  --input-color: var(--color);
  --input-placeholder-color: theme('colors.gray.500');

  /* Checkbox */
  --checkbox-border-color: theme('colors.gray.200');
  --checkbox-checkmark-color: var(--color);

  /* IconRedeem */
  --icon-redeem-color: var(--color);
  --icon-redeem-bg-color: transparent;

  /* Pagination */
  --pagination-color: #9e9e9e;
  --pagination-color-active: #ffffff;
  --pagination-background-color-active: #000000;

  /* Sort */
  --sort-color: #000000;
  --sort-icon-color: #ffffff;
  --sort-icon-bg-color: #000000;

  /* Tabs */
  --tab-border-color: theme('colors.gray.200');
  --tab-color: theme('colors.gray.500');
  --tab-border-color-active: var(--color);
  --tab-color-active: var(--color);
  --tab-color-hover: var(--color);

  /* Tooltip */
  --tooltip-bg-color: #000000;
  --tooltip-color: #ffffff;

  /* Select */
  --select-color: initial;
  --select-bg-color: initial;
  --select-option-color: initial;
  --select-option-bg-color: initial;

  /* RangeSlider */
  --range-slider-bg-color: theme('colors.black-opacity.20');
  --range-slider-bg-color-selected: #000000;
  --range-slider-thumb-bg-color: #ffffff;
  --range-slider-thumb-active-color: #000000;

  /* SkuItem */
  --sku-item-color: var(--color);
  --sku-item-bg-color: var(--bg-color);

  /* Button */
  --button-primary-color: #ffffff;
  --button-primary-bg-color: #000000;
  --button-primary-border-color: #000000;
  --button-secondary-color: #000000;
  --button-secondary-bg-color: #ffffff;
  --button-secondary-border-color: #000000;
  --button-tertiary-color: #000000;
  --button-tertiary-bg-color: #ffffff;
  --button-tertiary-border-color: #ffffff;
}

.theme-brand-footer {
  /* Common */
  --separator-bg-color: rgba(0, 0, 0, 0.16);

  /* Footer */
  --footer-bg-color: #ddf874;
  --footer-color: rgba(0, 0, 0, 0.5);
  --footer-color-hover: #000000;
  --footer-icon-bg-color: rgba(0, 0, 0, 0.2);
  --footer-icon-color: rgba(0, 0, 0, 0.5);
  --footer-icon-bg-color-hover: #000000;
  --footer-icon-color-hover: #ffffff;
}
