/* space-grotesk-light - latin */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  src: url('Space-Grotesk/SpaceGrotesk-Light.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Space-Grotesk/SpaceGrotesk-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Space-Grotesk/SpaceGrotesk-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('Space-Grotesk/SpaceGrotesk-Light.woff') format('woff'), /* Modern Browsers */
       url('Space-Grotesk/SpaceGrotesk-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* space-grotesk-regular - latin */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('Space-Grotesk/SpaceGrotesk-Regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Space-Grotesk/SpaceGrotesk-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Space-Grotesk/SpaceGrotesk-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('Space-Grotesk/SpaceGrotesk-Regular.woff') format('woff'), /* Modern Browsers */
       url('Space-Grotesk/SpaceGrotesk-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* space-grotesk-medium - latin */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('Space-Grotesk/SpaceGrotesk-Medium.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Space-Grotesk/SpaceGrotesk-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Space-Grotesk/SpaceGrotesk-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('Space-Grotesk/SpaceGrotesk-Medium.woff') format('woff'), /* Modern Browsers */
       url('Space-Grotesk/SpaceGrotesk-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* space-grotesk-semi-bold - latin */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url('Space-Grotesk/SpaceGrotesk-SemiBold.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Space-Grotesk/SpaceGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Space-Grotesk/SpaceGrotesk-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('Space-Grotesk/SpaceGrotesk-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('Space-Grotesk/SpaceGrotesk-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* space-grotesk-bold - latin */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url('Space-Grotesk/SpaceGrotesk-Bold.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Space-Grotesk/SpaceGrotesk-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Space-Grotesk/SpaceGrotesk-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('Space-Grotesk/SpaceGrotesk-Bold.woff') format('woff'), /* Modern Browsers */
       url('Space-Grotesk/SpaceGrotesk-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* space-mono-regular - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('Space-Mono/SpaceMono-Regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Space-Mono/SpaceMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Space-Mono/SpaceMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('Space-Mono/SpaceMono-Regular.woff') format('woff'), /* Modern Browsers */
       url('Space-Mono/SpaceMono-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* space-mono-italic - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 400;
  src: url('Space-Mono/SpaceMono-Italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Space-Mono/SpaceMono-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Space-Mono/SpaceMono-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('Space-Mono/SpaceMono-Italic.woff') format('woff'), /* Modern Browsers */
       url('Space-Mono/SpaceMono-Italic.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* space-mono-700 - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('Space-Mono/SpaceMono-Bold.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Space-Mono/SpaceMono-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Space-Mono/SpaceMono-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('Space-Mono/SpaceMono-Bold.woff') format('woff'), /* Modern Browsers */
       url('Space-Mono/SpaceMono-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* space-mono-700italic - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 700;
  src: url('Space-Mono/SpaceMono-BoldItalic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Space-Mono/SpaceMono-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Space-Mono/SpaceMono-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('Space-Mono/SpaceMono-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('Space-Mono/SpaceMono-BoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* almarena-bold */
@font-face {
  font-family: 'AlmarenaDisplay', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url('Almarena/AlmarenaDisplayBold.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Almarena/AlmarenaDisplayBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Almarena/AlmarenaDisplayBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('Almarena/AlmarenaDisplayBold.woff') format('woff'), /* Modern Browsers */
       url('Almarena/AlmarenaDisplayBold.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* almarena-bold */
@font-face {
  font-family: 'AlmarenaDisplay', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('Almarena/AlmarenaDisplayRegular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Almarena/AlmarenaDisplayRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Almarena/AlmarenaDisplayRegular.woff2') format('woff2'), /* Super Modern Browsers */
       url('Almarena/AlmarenaDisplayRegular.woff') format('woff'), /* Modern Browsers */
       url('Almarena/AlmarenaDisplayRegular.ttf') format('truetype'); /* Safari, Android, iOS */
}
