.tippy-box {
  background-color: var(--tooltip-bg);
  color: var(--tooltip-color);
  font-weight: 400;
  padding: var(--tooltip-padding, 8px 16px);
  border-radius: var(--tooltip-border-radius, 4px);
  font-size: medium;
}

.tippy-box > .tippy-arrow::before {
  color: var(--tooltip-bg);
}
