.tippy-box {
  background-color: var(--tooltip-bg);
  color: var(--tooltip-color);
  font-weight: 400;
  border-radius: 1.5rem;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: medium;
}

.tippy-box > .tippy-arrow::before {
  color: var(--tooltip-bg);
}
