:root {
  /* Common */
  --default-color: #ffffff;
  --inverse-color: #000000;
  --bg-color: #ffffff;
  --primary-color: #d32600;
  --hover-color: #aa1f00;
  --header-height: 88px;

  /* Button */
  --button-padding: 16px 48px;
  --button-border-radius: 8px;
  --button-brand-color: var(--primary-color);
  --button-brand-bg-color: var(--primary-color);
  --button-brand-border-color: var(--primary-color);
  --button-brand-color-hover: var(--hover-color);
  --button-brand-bg-color-hover: var(--hover-color);
  --button-brand-border-color-hover: var(--hover-color);

  /* Sidebar Menu */
  --mobile-menu-background-color: #000;
  --mobile-menu-width: 100%;
  --mobile-menu-padding-top: 0;
  --mobile-menu-header-border-color: rgba(255, 255, 255, 0.2);
  --mobile-menu-footer-text-color: #6b6b6b;

  /* Mint page */
  --mp-sub-headline-color: var(--primary-color);
  --mp-headline-color: #000000;
  --mp-hero-description-color: rgba(0, 0, 0, 0.8);
  --mp-hero-secondary-text-color: #000000;
  --mp-hero-highlight-color: var(--primary-color);
  --mp-right-bg-color: linear-gradient(207.2deg, #1e1e1e 0%, #0b0b0b 100%);
  --mp-left-bg-color: #ffffff;
  --mp-join-discord-bg: rgba(255, 255, 255, 0.12);
  --mp-join-discord-text: #ffffff;
  --mp-join-discord-hover-color: rgba(255, 255, 255, 0.25);
}
