:root {
  /* Common */
  --default-color: #ffffff;
  --inverse-color: #000000;
  --bg-color: #ffffff;
  --primary-color: #d32600;
  /* --primary-dark-color: #0c002f;
  --edition-single-color: #ffa800;
  --edition-limited-color: #e500ff;
  --edition-open-color: #0077a6;
  --gradient-start-color: #c000d6;
  --gradient-end-color: #6734ff;
  --link-color: var(--primary-color);
  --no-results-link-color: #11d6ec;
  --separator-bg-color: linear-gradient(90deg, var(--gradient-start-color) 0%, var(--gradient-end-color) 100%);
  --icon-bg-color: #2d2d2d;
  --header-height: 88px; */

  --footer-icon-bg-color: var(--default-color);
  --footer-icon-color: #000000;
  --footer-icon-bg-color-hover: #000000;
  --footer-icon-color-hover: var(--default-color);
  --footer-icon-border-radius: 50%;

  /* Button */
  --button-padding: 20px;
  --button-border-radius: 0;
  --button-brand-color: #000000;
  --button-brand-bg-color: var(--primary-color);
  --button-brand-border-color: var(--primary-color);
  --button-brand-color-hover: var(--primary-color);
  --button-brand-bg-color-hover: #000000;
  --button-brand-border-color-hover: var(--primary-color);
}
