body {
  font-family: 'NotoSans';
}

.sticky-cta {
  background-color: #ffffff;
  color: #000000;
  --gray-500: rgba(0, 0, 0, 0.5);
}
a.sticky-cta:hover,
button.sticky-cta:hover {
  background-color: #ddf874;
}

.item-link {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  padding: 0.32rem;
  background: linear-gradient(90deg, #ff8d1c 0%, #ff5e17 47.92%, #ff3414 100%);
}

.error-button {
  font-size: 0.75rem;
}

.section-title {
  font-family: var(--title-font-family);
}

.second-font {
  font-family: var(--second-font);
}
