body {
  font-family: 'NotoSans';
}

body,
button {
  letter-spacing: normal;
}

.link {
  position: relative;
}

.link::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--gray-400);
  content: '';
  opacity: 0;
  transition: width 0.3s, opacity 0.3s;
}

.link:hover::after,
.link:focus::after {
  width: 100%;
  opacity: 1;
}

.header-link {
  letter-spacing: 0.2em;
}

.sticky-cta {
  background: linear-gradient(97.14deg, #e9e9e9 14.99%, #f4f4f4 93.37%);
  color: #000000;
  --gray-500: rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  margin: 0.625rem 0 0.625rem 0;
  font-weight: 400;
  font-style: normal;
}

a.sticky-cta:hover,
button.sticky-cta:hover {
  background: linear-gradient(78.89deg, #ff8d1c 0%, #ff5e17 50%, #ff3414 100%);
}

a.sticky-cta:hover div,
button.sticky-cta:hover div {
  color: white;
}

.item-link {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  padding: 0.32rem;
  background: linear-gradient(90deg, #ff8d1c 0%, #ff5e17 47.92%, #ff3414 100%);
}

.error-button {
  font-size: 0.75rem;
}

.section-title {
  font-family: var(--title-font-family);
}

.second-font {
  font-family: var(--second-font);
}

.button {
  font-size: 0.625rem;
}

.theme-light:not(.theme-buttons-variant-presentation-pages) .button.brand {
  position: relative;
  background: none;
}

.theme-light:not(.theme-buttons-variant-presentation-pages) .button.brand::before {
  background: linear-gradient(90deg, #ff8d1c 0%, #ff3414 100%);
  opacity: 1;
  border-radius: 40px;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.theme-light:not(.theme-buttons-variant-presentation-pages) .button.brand::after {
  background: linear-gradient(90deg, #ff8d1c 0%, #ff3414 100%);
  opacity: 0.4;
  filter: blur(20px);
  border-radius: 40px;
  content: '';
  position: absolute;
  left: 16px;
  right: 16px;
  top: 50%;
  bottom: -5%;
  z-index: -2;
}

.theme-light:not(.theme-buttons-variant-presentation-pages) .button.brand:hover {
  border-color: transparent;
}

.theme-light:not(.theme-buttons-variant-presentation-pages) .button.brand:hover::before,
.theme-light:not(.theme-buttons-variant-presentation-pages) .button.brand:hover::after {
  background: linear-gradient(225deg, #181c20 0%, #363f45 100%);
}

@media (min-width: 640px) {
  .button {
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  .sticky-cta {
    margin: 0px;
    border-radius: 0px;
  }
}

@media (max-width: 768px) {
  .sticky-content-button {
    background: linear-gradient(97.14deg, #e9e9e9 14.99%, #f4f4f4 93.37%);
    border-radius: var(--from-creator-button-border-radius, 0px);
    box-shadow: 0px -7px 30px rgba(0, 0, 0, 0.2) !important;
  }
}

.description h3 {
  letter-spacing: -0.02em;
  font-family: var(--second-font);
  line-height: 160%;
}

.description p {
  font-weight: 300;
  line-height: 160%;
}

.theme-dark [data-theme-context='root.header'] > header::before {
  content: '';
  background-color: theme('backgroundColor.gray.50');
  backdrop-filter: var(--header-backdrop-filter);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
