body {
  font-family: 'NotoSans';
}

.link {
  position: relative;
}

.link::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--gray-400);
  content: '';
  opacity: 0;
  transition: width 0.3s, opacity 0.3s;
}

.link:hover::after,
.link:focus::after {
  width: 100%;
  opacity: 1;
}

.sticky-cta {
  background: linear-gradient(97.14deg, #e9e9e9 14.99%, #f4f4f4 93.37%);
  color: #000000;
  --gray-500: rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  margin: 0.625rem 0 0.625rem 0;
  font-weight: 400;
  font-style: normal;
}
a.sticky-cta:hover,
button.sticky-cta:hover {
  background: linear-gradient(78.89deg, #ff8d1c 0%, #ff5e17 50%, #ff3414 100%);
  color: white;
}

.item-link {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  padding: 0.32rem;
  background: linear-gradient(90deg, #ff8d1c 0%, #ff5e17 47.92%, #ff3414 100%);
}

.error-button {
  font-size: 0.75rem;
}

.section-title {
  font-family: var(--title-font-family);
}

.second-font {
  font-family: var(--second-font);
}

.button {
  font-size: 0.625rem;
}

@media (min-width: 640px) {
  .button {
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  .sticky-cta {
    margin: 0px;
    border-radius: 0px;
  }
}

@media (max-width: 768px) {
  .sticky-content-button {
    background: linear-gradient(97.14deg, #e9e9e9 14.99%, #f4f4f4 93.37%);
    border-radius: var(--from-creator-button-border-radius, 0px);
    box-shadow: 0px -7px 30px rgba(0, 0, 0, 0.2) !important;
  }
}
