:root,
.theme-light {
  --second-font: McLaren;
  --mobile-menu-background-color: #ffffff;
  /* Common */
  --default-color: #000000;
  --inverse-color: #ffffff;
  --bg-color: #ffffff;
  --primary-color: #000000;
  --link-color: var(--default-color);
  --no-results-link-color: var(--default-color);
  --icon-bg-color: #2d2d2d;
  --edition-single-color: var(--default-color);
  --edition-limited-color: var(--default-color);
  --edition-open-color: var(--default-color);
  --gradient-start-color: var(--default-color);
  --gradient-end-color: var(--default-color);
  --header-background-color: var(--inverse-color);
  --header-height: 4.5rem;
  --header-links-text-transform: uppercase;
  --header-links-text-size: 0.75rem;

  /* Grayscale */
  --gray-50: rgba(0, 0, 0, 0.05);
  --gray-100: rgba(0, 0, 0, 0.1);
  --gray-200: rgba(0, 0, 0, 0.2);
  --gray-300: rgba(0, 0, 0, 0.3);
  --gray-400: rgba(0, 0, 0, 0.4);
  --gray-500: rgba(0, 0, 0, 0.5);
  --gray-600: rgba(0, 0, 0, 0.6);
  --gray-700: rgba(0, 0, 0, 0.7);
  --gray-800: rgba(0, 0, 0, 0.8);
  --gray-900: rgba(0, 0, 0, 0.9);

  /* Footer */
  --footer-bg-color: #000000;
  --footer-color: #9fa8ad;
  --footer-color-hover: #ffffff;
  --footer-icon-bg-color: rgba(0, 0, 0, 0);
  --footer-icon-color: #ffffff;
  --footer-icon-bg-color-hover: #000000;
  --footer-icon-color-hover: #ffffff;
  --footer-icon-border-radius: 16px;
  --footer-icon-border: 1px solid rgba(40, 44, 47, 0.1);
  --footer-icon-border-hover: 1px solid black;
  --footer-gap-links: 1.5rem;
  --footer-min-height: 8rem;
  --footer-margin-top-mobile: 1rem;
  --footer-justify-links-mobile: space-around;
  --footer-align-links-mobile: space-around;
  /* Pagination */
  --pagination-color: #9e9e9e;
  --pagination-color-active: #ffffff;
  --pagination-background-color-active: #000000;

  /* RangeSlider */
  --range-slider-bg-color: theme('colors.black-opacity.20');
  --range-slider-bg-color-selected: #000000;
  --range-slider-thumb-bg-color: #ffffff;
  --range-slider-thumb-active-color: #000000;

  /* SkuItem */
  --sku-item-color: var(--default-color);
  --sku-item-bg-color: var(--bg-color);
  --sku-item-border-radius: 1.25rem;
  --sku-item-border-color: 'white';
  --sku-item-status-border-color: rgba(0, 0, 0, 0.05);
  --sku-item-img-border-radius: 0.6rem;
  --sku-info-color: black;

  /* Button */
  --button-brand-color: #ffffff;
  --button-brand-bg: linear-gradient(78.89deg, #ff8d1c 0%, #ff5e17 50%, #ff3414 100%);
  --button-brand-border-color: transparent;
  --button-brand-color-hover: #ffffff;
  --button-brand-bg-hover: linear-gradient(225deg, #181c20 0%, #363f45 100%);
  --button-brand-border-color-hover: transparent;
  --button-outline-brand-color: #000000;
  --button-outline-brand-bg: linear-gradient(161.99deg, #ffffff -1.04%, #f8f8f8 111.86%);
  --button-outline-brand-border-color: rgba(0, 0, 0, 0.05);
  --button-outline-brand-color-hover: #000000;
  --button-outline-brand-bg-hover: linear-gradient(161.99deg, #ffffff -1.04%, #f8f8f8 111.86%);
  --button-outline-brand-border-color-hover: transparent;
  --button-padding: 14px 24px;
  --button-border-radius: 40px;
  --button-outline-brand-gradient-color-border-hover: linear-gradient(78.89deg, #ff8d1c 0%, #ff5e17 50%, #ff3414 100%);
  --button-outline-brand-bg-gradient-hover: linear-gradient(161.99deg, #ffffff -1.04%, #f8f8f8 111.86%);
  --button-outline-brand-gradient-border-width-hover: -1px; /*border width should be negative*/
  --button-confirm-modal-radius: 40px;
  --button-text-transform: uppercase;
  --button-font-weight: 700;
  --button-letter-spacing: 0.2em;

  /*Collectors*/
  --button-back-bg-color: transparent;
  --button-back-color: #000000;
  --button-back-hover-color: var(--gray-300);
  --border-input-search: solid 1px;
  --border-input-search-color: var(--gray-300);
  --border-radius-input-search: 2rem;
  --input-search-padding: 0.75rem;
  --collector-item-status-highlight: var(--default-color);
  --collectors-title-font-size: 2rem;
  --collector-title-font-size-mobile: 1.75rem;
  --collector-list-description-big-text-size-mobile: 0.875rem;
  --collector-list-description-small-text-size-mobile: 0.8125rem;
  --collector-list-description-small-text-size: 0.875rem;
  --item-status-information-subtitle: rgba(0, 0, 0, 0.5);

  /* File Preview - Gallery */
  --gallery-display-file-preview: none;

  /* Edit Profile */
  --edit-picture-button-width: 2rem;
  --edit-picture-button-height: 2rem;
  --edit-picture-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  --edit-picture-bottom-positioning: 0.2rem;

  /*new profile modal*/
  --account-initial-modal-title-font-size: 2rem;

  /* Wallet Balance */
  --wallet-balance-content-bg-color: linear-gradient(#181d20, #363f45);
  --wallet-balance-content-margin: 2rem auto 2.6rem auto;
  --wallet-balance-content-border-radius: 1.25rem;
  --wallet-balance-content-max-width: 26rem;

  /* Menu */
  --menu-item-background-selected: #282c2f;
  --menu-item-color: rgba(40, 44, 47, 0.5);
  --menu-item-color-selected: #ffffff;
  --menu-item-border: none;
  --menu-list-border-radius: 0.625rem;
  --menu-list-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);

  /* Fonts */
  --market-no-result-title-font: var(--second-font);
  --market-heading-font: var(--second-font);
  --product-title-font: var(--second-font);
  --title-font-family: var(--second-font);
  --collectors-title-font: var(--second-font);
  --tab-title-font: var(--second-font);
  --modal-title-font: var(--second-font);
  --account-initial-modal-title-font: var(--second-font);

  /* File Thumbnail */
  --file-thumbnail-border-radius: 999px;
  --file-thumbnail-border: 1px solid;
  --file-thumbnail-border-color: var(--gray-300);
  --file-thumbnail-color: #000000;
  --file-thumbnail-bg-color: transparent;
  --file-thumbnail-margin-right: 24px;
  --file-preview-border-radius: 20px;

  /* Pagination */
  --pagination-color: #9e9e9e;
  --pagination-color-active: #ff5e17;
  --pagination-border-active: 1px solid;
  --pagination-active-border-radius: 999px;
  --pagination-background-color-active: linear-gradient(#ff8d1c 0%, #ff3414 100%);
  --pagination-bg-after-active: #ffffff;
  --pagination-focus-ring: none;
  --text-pagination-gradient-from: #ff8d1c;
  --text-pagination-gradient-to: #ff5e17;

  /* Tag */
  --tag-background: var(--gray-50);
  --tag-border-radius: 20px;
  --tag-padding: 9px 16px;
  --tag-color: var(--default-color);
  --tag-button-close-position-right: 1rem;
  --tag-button-close-position-top: 55%;

  /* Filters */
  --filter-icon-size: 0.9rem;

  /* Checkbox */
  --checkbox-border-radius: 4px;
  --checkbox-span-bg-color: linear-gradient(#ff0156, #feb889);
  --checkbox-span-border: none;

  /*radiobutton*/
  --radio-button-border-color: linear-gradient(90deg, #ff8d1c 0%, #ff5e17 47.92%, #ff3414 100%);
  --radio-button-selected-border-width: 4px;

  /* Marketplace*/
  --market-active-filter-color: var(--gray-200);
  --market-border-hover-color: linear-gradient(#ff8d1c 0%, #ff3414 100%);
  --market-border-hover-width: -2px; /*in negative*/
  --market-filter-option-hover-bg-color: var(--bg-color);
  --marketplace-search-input-bar-top: none;

  --filter-button-font-size: 10px;
}

.theme-search-bar {
  --border-input-search: solid 1px;
  --border-input-search-color: var(--gray-300);
  --border-radius-input-search: 2rem;
  --input-search-padding: 0.75rem;
  --base-element-border-bottom-width: 0px;
  --container-search-margin: 1.5rem 0 2rem 0;
}

.theme-wallet-balance {
  /* Common */
  --default-color: #ffffff;
  --inverse-color: #000000;
  --primary-color: #53595c;

  /* Grayscale */
  --gray-50: rgba(255, 255, 255, 0.05);
  --gray-100: rgba(255, 255, 255, 0.1);
  --gray-200: rgba(255, 255, 255, 0.2);
  --gray-300: rgba(255, 255, 255, 0.3);
  --gray-400: rgba(255, 255, 255, 0.4);
  --gray-500: rgba(255, 255, 255, 0.5);
  --gray-600: rgba(255, 255, 255, 0.6);
  --gray-700: rgba(255, 255, 255, 0.7);
  --gray-800: rgba(255, 255, 255, 0.8);
  --gray-900: rgba(255, 255, 255, 0.9);

  /* Button */
  --button-brand-color: #000000;
  --button-brand-bg: none #ffffff;
  --button-brand-bg-hover: none #ffffff;
  --button-brand-border-color-hover: transparent;

  /* WalletBalance */
  --wallet-balance-bg-color: #ffffff;
  --wallet-balance-heading-color: var(--default-color);

  --text-balance-gradient-from: #ff8d1c;
  --text-balance-gradient-to: #ff5e17;
  --wallet-icon-info-bg-color: transparent;
  --wallet-icon-info-padding: 0px;

  /*Button*/
  --button-brand-bg-hover: linear-gradient(78.89deg, #ff8d1c 0%, #ff5e17 50%, #ff3414 100%);
  --button-brand-color-hover: #ffffff;

  /*Loading */
  --lds-color: linear-gradient(90deg, #ff8d1c 0%, #b1afae 47.92%, #ff3414 100%);

  /* Titles */
  --title-font-family: McLaren;
}

.theme-footer {
  /* Common */
  --separator-bg-color: rgba(255, 255, 255, 0.2);
}

.theme-buttons-variant-header {
  --button-padding: 0.5rem 2rem;
  --button-brand-color: black;
  --button-brand-bg: white;
  --button-brand-border-color: rgba(40, 44, 47, 0.2);
  --button-brand-color-hover: #ffffff;
  --button-brand-bg-hover: linear-gradient(78.89deg, #ff8d1c 0%, #ff5e17 50%, #ff3414 100%);
  --button-brand-border-color-hover: #ff5e17;
  --header-links-font: var(--second-font);
  --separator-bg-color: rgba(0, 0, 0, 0.05);
}

.theme-buttons-variant-presentation-pages {
  --button-padding: 0.5rem 2rem;
  --button-brand-color: black;
  --button-brand-bg: linear-gradient(161.99deg, #ffffff -1.04%, #f8f8f8 111.86%);
  --button-brand-border-color: rgba(40, 44, 47, 0.2);
  --button-brand-color-hover: #ffffff;
  --button-brand-bg-hover: linear-gradient(78.89deg, #ff8d1c 0%, #ff5e17 50%, #ff3414 100%);
  --button-brand-border-color-hover: #ff5e17;
  --header-links-font: var(--second-font);
  --separator-bg-color: rgba(0, 0, 0, 0.05);
}

.theme-brand-wallet-buttons {
  --button-brand-color: #000000;
  --button-brand-color-hover: #ffffff;
  /* --button-brand-bg-color-hover: #ffffff; */
  --button-brand-border-color-hover: transparent;
  --button-brand-bg: linear-gradient(#ffffff 0%, #f8f8f8 100%);
  --button-brand-bg-hover: linear-gradient(78.89deg, #ff8d1c 0%, #ff5e17 50%, #ff3414 100%);
}

.theme-dark {
  --bg-gradient: linear-gradient(225deg, #181c20 0%, #363f45 100%);
  --gradient-end-color: #ff5e17;
  --gradient-start-color: #ff8d1c;
  --error-branded-title-weight: 300;
  --error-text-weight: 300;
  --default-color: #ffffff;
  --button-brand-color: #000000;
  --button-brand-color-hover: #ffffff;
  --button-brand-border-color-hover: transparent;
  --button-brand-bg: linear-gradient(#ffffff 0%, #f8f8f8 100%);
  --button-brand-bg-hover: linear-gradient(78.89deg, #ff8d1c 0%, #ff5e17 50%, #ff3414 100%);
  --button-padding: 22px 55px;
  --button-text-transform: uppercase;
  --button-font-size: 12px;
  --button-font-weight: 700;
  --error-description-weight: 300;
  --error-description-color: #bebebe;
  --button-border-radius: 48px;
  --no-results-link-color: var(--default-color);
  --error-branded-title-font: var(--second-font);
  --error-branded-title-font-size-desktop: 4rem;
  --error-branded-title-font-size-mobile: 3.5rem;
  --error-min-height: calc(100vh - var(--header-height));
}
