:root {
  --primary: #6633ff;
  --primary-dark: #0c002f;
  --edition-unique: #ffa800;
  --edition-limited: #e500ff;
  --edition-released: #0077a6;

  /* Main */
  --bg-color: #000000;
  --color: #ffffff;
  --link-color: var(--primary);
  --separator-bg-color: linear-gradient(90deg, #c000d6 0%, #6734ff 100%);

  /* Filters */
  --filters-color-active: var(--color);
  --filters-color-expanded: var(--primary);

  /* NoResults */
  --no-results-link-color: #11d6ec;

  /* Header */
  --header-color: #000000;
  --header-bg-color: #ffffff;

  /* Tag */
  --tag-bg-color: var(--primary);

  /* Accordion */
  --accordion-title-color: theme('colors.white-opacity.50');
  --accordion-title-icon-color: var(--color);

  /* RangeSlider */
  --range-slider-bg-color: theme('colors.white-opacity.20');
  --range-slider-bg-color-selected: #ffffff;
  --range-slider-thumb-bg-color: #000000;
  --range-slider-thumb-active-color: #ffffff;

  /* Pagination */
  --pagination-color: #9e9e9e;
  --pagination-color-active: #ffffff;
  --pagination-background-color-active: #000000;

  /* Checkbox */
  --checkbox-color: #000000;
  --checkbox-bg: #d6d6d6;
  --checkbox-hover-bg: #cccccc;

  /* Header */
  --header-color: #ffffff;
  --header-bg-color: #000000;
  --header-separator-bg-color: var(--separator-bg-color);
  --header-height: 72px;

  /* Footer */
  --footer-bg-color: #000000;
  --footer-color: #7c7c7c;
  --footer-color-hover: #ffffff;
  --footer-separator-bg-color: var(--separator-bg-color);
  --footer-icon-bg-color: #2e2e2e;
  --footer-icon-color: #ffffff;
  --footer-icon-bg-color-hover: #ffffff;
  --footer-icon-color-hover: #000000;
  --footer-icon-border-radius: 12px;

  /* Menu */
  --menu-background-color: #ffffff;
  --menu-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
  --menu-item-background-selected: #6633ff;
  --menu-item-color: theme('colors.black-opacity.50');
  --menu-item-color-selected: #ffffff;

  /* Pagination */
  --pagination-color: #9e9e9e;
  --pagination-color-active: #ffffff;
  --pagination-background-color-active: transparent;

  /* Tabs */
  --tab-border-color: theme('colors.white-opacity.20');
  --tab-color: theme('colors.white-opacity.40');
  --tab-active-border-color: var(--color);
  --tab-active-color: var(--color);

  /* Tooltip */
  --tooltip-bg: #ffffff;
  --tooltip-color: #000000;

  /* Icon Redeem */
  --icon-redeem-color: #ffffff;
  --icon-redeem-border-radius: 16px;
  --icon-redeem-bg: #2d2d2d;
}

.theme-brand {
  /* Menu */
  --menu-background-color: #000000;
  --menu-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.13);
  --menu-item-background-selected: var(--primary);
  --menu-item-color: var(--color);
  --menu-item-color-selected: var(--color);

  /* Tabs */
  --tab-active-border-color: var(--primary);
  --tab-active-color: var(--primary);
}
