:root,
.theme-dark {
  --container-max-width: 1536px;

  /* Common */
  --primary: #6633ff;
  --primary-dark: #0c002f;
  --edition-single: #ffa800;
  --edition-limited: #e500ff;
  --edition-open: #0077a6;
  --gradient-start: #c000d6;
  --gradient-end: #6734ff;
  --bg-color: #000000;
  --color: #ffffff;
  --link-color: var(--primary);
  --no-results-link-color: #11d6ec;
  --separator-bg-color: linear-gradient(90deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
  --icon-bg-color: #2d2d2d;

  /* Grayscale */
  --gray-50: rgba(255, 255, 255, 0.05);
  --gray-100: rgba(255, 255, 255, 0.1);
  --gray-200: rgba(255, 255, 255, 0.2);
  --gray-300: rgba(255, 255, 255, 0.3);
  --gray-400: rgba(255, 255, 255, 0.4);
  --gray-500: rgba(255, 255, 255, 0.5);
  --gray-600: rgba(255, 255, 255, 0.6);
  --gray-700: rgba(255, 255, 255, 0.7);
  --gray-800: rgba(255, 255, 255, 0.8);
  --gray-900: rgba(255, 255, 255, 0.9);

  /* SkuItemGrid */
  --sku-item-grid-row-gap: 2rem;
  --sku-item-grid-column-gap: 2rem;

  /* Filters */
  --filters-color-expanded: var(--primary);

  /* Tag */
  --tag-color: var(--color);
  --tag-bg-color: var(--primary);

  /* Accordion */
  --accordion-title-color: theme('colors.gray.500');
  --accordion-title-icon-color: var(--color);

  /* RangeSlider */
  --range-slider-bg-color: theme('colors.gray.200');
  --range-slider-bg-color-selected: #ffffff;
  --range-slider-thumb-bg-color: #000000;
  --range-slider-thumb-active-color: #ffffff;

  /* Pagination */
  --pagination-color: #9e9e9e;
  --pagination-color-active: #ffffff;
  --pagination-background-color-active: #000000;

  /* Checkbox */
  --checkbox-color: #000000;
  --checkbox-border-color: theme('colors.gray.200');
  --checkbox-checkmark-color: var(--color);

  /* Button */
  --button-padding: 8px 24px;
  --button-border-radius: 20px;
  --button-brand-color: #ffffff;
  --button-brand-bg-color: var(--primary);
  --button-brand-border-color: var(--primary);
  --button-brand-color-hover: #ffffff;
  --button-brand-bg-color-hover: #5e29ff;
  --button-brand-border-color-hover: #5e29ff;
  --button-outline-brand-color: #ffffff;
  --button-outline-brand-bg-color: #000000;
  --button-outline-brand-border-color: var(--primary);
  --button-outline-brand-color-hover: #ffffff;
  --button-outline-brand-bg-color-hover: #000000;
  --button-outline-brand-border-color-hover: #5e29ff;

  /* ButtonGroup */
  --button-group-color: var(--color);
  --button-group-bg-color: var(--bg-color);
  --button-group-color-hover: var(--color);
  --button-group-bg-color-hover: var(--primary);

  /* Header */
  --header-color: #ffffff;
  --header-bg-color: #000000;
  --header-height: 72px;

  /* Footer */
  --footer-bg-color: #000000;
  --footer-color: #7c7c7c;
  --footer-color-hover: #ffffff;
  --footer-icon-bg-color: var(--icon-bg-color);
  --footer-icon-color: #ffffff;
  --footer-icon-bg-color-hover: #ffffff;
  --footer-icon-color-hover: #000000;
  --footer-icon-border-radius: 12px;

  /* Menu */
  --menu-list-background-color: #ffffff;
  --menu-item-background-selected: var(--primary);
  --menu-item-color: rgba(0, 0, 0, 0.8);
  --menu-item-color-selected: #ffffff;

  /* Pagination */
  --pagination-color: #9e9e9e;
  --pagination-color-active: #ffffff;
  --pagination-background-color-active: transparent;

  /* Tabs */
  --tab-border-color: theme('colors.gray.200');
  --tab-color: theme('colors.gray.500');
  --tab-border-color-active: var(--color);
  --tab-color-active: var(--color);
  --tab-color-hover: var(--color);

  /* Tooltip */
  --tooltip-bg-color: #ffffff;
  --tooltip-color: #000000;

  /* IconRedeem */
  --icon-redeem-color: #ffffff;
  --icon-redeem-border-radius: 16px;
  --icon-redeem-bg-color: var(--icon-bg-color);

  /* TransactionDetails */
  --transaction-details-copy-bg: linear-gradient(90deg, var(--gradient-start) 7.48%, var(--gradient-end) 79.51%);

  /* ProductTabs */
  --product-tabs-bg: #1a1a1a;

  /* WalletBalance */
  --wallet-balance-content-bg-color: #1d1a54;
  --wallet-balance-heading-color: var(--color);

  /* AccountInfo */
  --account-info-bg-color: #1d1a54;

  /* CreditCard */
  --credit-card-background-color: theme('colors.gray.200');
}

.theme-brand-tabs {
  /* Tabs */
  --tab-border-color-active: var(--primary);
  --tab-color-active: var(--primary);
  --tab-color-hover: var(--color);
}

.theme-light {
  --bg-color: #ffffff;
  --color: #000000;

  /* Grayscale */
  --gray-50: rgba(0, 0, 0, 0.05);
  --gray-100: rgba(0, 0, 0, 0.1);
  --gray-200: rgba(0, 0, 0, 0.2);
  --gray-300: rgba(0, 0, 0, 0.3);
  --gray-400: rgba(0, 0, 0, 0.4);
  --gray-500: rgba(0, 0, 0, 0.5);
  --gray-600: rgba(0, 0, 0, 0.6);
  --gray-700: rgba(0, 0, 0, 0.7);
  --gray-800: rgba(0, 0, 0, 0.8);
  --gray-900: rgba(0, 0, 0, 0.9);

  /* Pagination */
  --pagination-color: #9e9e9e;
  --pagination-color-hover: #000000;
  --pagination-color-active: #ffffff;
  --pagination-background-color-active: #000000;
  --pagination-background-color-hover: transparent;

  /* Button */
  --button-brand-color: #ffffff;
  --button-brand-bg-color: var(--primary);
  --button-brand-border-color: var(--primary);
  --button-brand-color-hover: #ffffff;
  --button-brand-bg-color-hover: #5e29ff;
  --button-brand-border-color-hover: #5e29ff;
  --button-outline-brand-color: #000000;
  --button-outline-brand-bg-color: #ffffff;
  --button-outline-brand-border-color: var(--primary);
  --button-outline-brand-color-hover: #000000;
  --button-outline-brand-bg-color-hover: #ffffff;
  --button-outline-brand-border-color-hover: #5e29ff;

  /* Tooltip */
  --tooltip-bg-color: #000000;
  --tooltip-color: #ffffff;
}
