:root,
.theme-dark {
  /* Common */
  --default-color: #ffffff;
  --inverse-color: #000000;
  --bg-color: #000000;
  --primary-color: #6633ff;
  --primary-dark-color: #0c002f;
  --edition-single-color: #ffa800;
  --edition-limited-color: #e500ff;
  --edition-open-color: #0077a6;
  --gradient-start-color: #c000d6;
  --gradient-end-color: #6734ff;
  --link-color: var(--primary-color);
  --no-results-link-color: #11d6ec;
  --separator-bg-color: linear-gradient(90deg, var(--gradient-start-color) 0%, var(--gradient-end-color) 100%);
  --icon-bg-color: #2d2d2d;
  --header-height: 88px;

  /* Grayscale */
  --gray-50: rgba(255, 255, 255, 0.05);
  --gray-100: rgba(255, 255, 255, 0.1);
  --gray-200: rgba(255, 255, 255, 0.2);
  --gray-300: rgba(255, 255, 255, 0.3);
  --gray-400: rgba(255, 255, 255, 0.4);
  --gray-500: rgba(255, 255, 255, 0.5);
  --gray-600: rgba(255, 255, 255, 0.6);
  --gray-700: rgba(255, 255, 255, 0.7);
  --gray-800: rgba(255, 255, 255, 0.8);
  --gray-900: rgba(255, 255, 255, 0.9);

  /* SkuItemGrid */
  --sku-item-grid-row-gap: 2rem;
  --sku-item-grid-column-gap: 2rem;

  /* Tag */
  --tag-color: var(--default-color);

  /* RangeSlider */
  --range-slider-bg-color: theme('colors.gray.200');
  --range-slider-bg-color-selected: #ffffff;
  --range-slider-thumb-bg-color: #000000;
  --range-slider-thumb-active-color: #ffffff;

  /* Button */
  --button-padding: 8px 24px;
  --button-border-radius: 20px;
  --button-brand-color: #ffffff;
  --button-brand-bg-color: var(--primary-color);
  --button-brand-border-color: var(--primary-color);
  --button-brand-color-hover: #ffffff;
  --button-brand-bg-color-hover: #5e29ff;
  --button-brand-border-color-hover: #5e29ff;
  --button-outline-brand-color: #ffffff;
  --button-outline-brand-bg-color: #000000;
  --button-outline-brand-border-color: var(--primary-color);
  --button-outline-brand-color-hover: #ffffff;
  --button-outline-brand-bg-color-hover: #000000;
  --button-outline-brand-border-color-hover: #5e29ff;
  --button-marketplace-filter-color: #f0f0f0;
  --button-confirm-modal-radius: 32px;

  /* ButtonGroup */
  --button-group-color-hover: var(--default-color);
  --button-group-bg-color-hover: var(--primary-color);

  /* Sku */
  --sku-offscreen-bg-color: transparent;

  /* Header */
  --header-color: #ffffff;
  --header-links-align-items: center;

  /* Footer */
  --footer-bg-color: #000000;
  --footer-color: #7c7c7c;
  --footer-color-hover: #ffffff;
  --footer-icon-bg-color: var(--icon-bg-color);
  --footer-icon-color: #ffffff;
  --footer-icon-bg-color-hover: #ffffff;
  --footer-icon-color-hover: #000000;
  --footer-icon-border-radius: 12px;

  /* Menu */
  --menu-item-background-selected: var(--primary-color);
  --menu-item-color: rgba(0, 0, 0, 0.8);
  --menu-item-color-selected: #ffffff;

  /* Pagination */
  --pagination-color: #9e9e9e;
  --pagination-color-active: #ffffff;
  --pagination-background-color-active: transparent;

  /* IconRedeem */
  --icon-redeem-color: #ffffff;
  --icon-redeem-border-radius: 16px;
  --icon-redeem-bg-color: var(--icon-bg-color);

  /* TransactionDetails */
  --transaction-details-copy-bg: linear-gradient(
    90deg,
    var(--gradient-start-color) 7.48%,
    var(--gradient-end-color) 79.51%
  );

  /* WalletBalance */
  --wallet-balance-content-bg-color: #1d1a54;
  --wallet-balance-heading-color: var(--default-color);

  /* AccountInfo */
  --account-info-bg-color: #1d1a54;

  /* CreditCard */
  --credit-card-background-color: theme('colors.gray.200');

  /* Titles */
  --title-font-family: Almarena Display Regular;
  --title-text-transform: uppercase;
}

.theme-brand-tabs {
  /* Tabs */
  --tab-border-color-active: var(--primary-color);
  --tab-color-active: var(--primary-color);
}

.theme-light {
  --bg-color: #ffffff;
  --default-color: #000000;
  --inverse-color: #ffffff;

  /* Grayscale */
  --gray-50: rgba(0, 0, 0, 0.05);
  --gray-100: rgba(0, 0, 0, 0.1);
  --gray-200: rgba(0, 0, 0, 0.2);
  --gray-300: rgba(0, 0, 0, 0.3);
  --gray-400: rgba(0, 0, 0, 0.4);
  --gray-500: rgba(0, 0, 0, 0.5);
  --gray-600: rgba(0, 0, 0, 0.6);
  --gray-700: rgba(0, 0, 0, 0.7);
  --gray-800: rgba(0, 0, 0, 0.8);
  --gray-900: rgba(0, 0, 0, 0.9);

  /* Pagination */
  --pagination-color: #9e9e9e;
  --pagination-color-hover: #000000;
  --pagination-color-active: #ffffff;
  --pagination-background-color-active: #000000;
  --pagination-background-color-hover: transparent;

  /* Button */
  --button-brand-color: #ffffff;
  --button-brand-bg-color: var(--primary-color);
  --button-brand-border-color: var(--primary-color);
  --button-brand-color-hover: #ffffff;
  --button-brand-bg-color-hover: #5e29ff;
  --button-brand-border-color-hover: #5e29ff;
  --button-outline-brand-color: #000000;
  --button-outline-brand-bg-color: #ffffff;
  --button-outline-brand-border-color: var(--primary-color);
  --button-outline-brand-color-hover: #000000;
  --button-outline-brand-bg-color-hover: #ffffff;
  --button-outline-brand-border-color-hover: #5e29ff;

  /* Titles */
  --title-font-family: Almarena Display Regular;
  --title-text-transform: uppercase;
}
