@import '@fontsource/plus-jakarta-sans';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans';
}

@layer base {
  .container {
    max-width: 1536px;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .text-gradient {
    @apply text-transparent bg-clip-text;
  }
}

@layer utilities {
  .text-gradient {
    @apply text-transparent bg-clip-text;
  }
}

.text-gradient-primary {
  @apply text-gradient bg-gradient-to-tr;
  --tw-gradient-to: #e81cff;
  --tw-gradient-from: #40c9ff;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(244, 114, 182, 0));
}
