@import '@fontsource/plus-jakarta-sans';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans';
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}
::-webkit-scrollbar-thumb {
    background: #434343;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}
::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
}

@layer base {
  .container {
    max-width: 1536px;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .text-gradient {
    @apply text-transparent bg-clip-text;
  }
}

@layer utilities {
  .text-gradient {
    @apply text-transparent bg-clip-text;
  }
}

.text-gradient-primary {
  @apply text-gradient bg-gradient-to-tr;
  --tw-gradient-to: #e81cff;
  --tw-gradient-from: #40c9ff;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(244, 114, 182, 0));
}
